.detailsContainer {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ff6600;
    border-radius: 5px;
    background-color: #222;
    color: white;
}

.detailsContainer h2 {
    margin-bottom: 10px;
    color: #ffcc00;
}

.detailContainer ul {
    list-style-type: none;
    padding: 0;
}

.detailContainer li {
    padding: 5px;
    border-bottom: 1px solid #555;
}